In [48]:
import pandas as pd
import numpy as np
import pickle
from tensorflow.keras.models import load_model

In [49]:
# load the trained model,scaler and encoder pickle file

In [50]:
model=load_model('model.h5')
# load encoder and scaler
with open('le.pkl','rb') as file:
    le=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

with open('onehot_encoder_geo.pkl','rb') as file:
    one_hot_en=pickle.load(file)

In [51]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [52]:
geo_encoded=one_hot_en.transform([[input_data['Geography']]]).toarray()
gdf=pd.DataFrame(geo_encoded,columns=one_hot_en.get_feature_names_out(['Geography']))
gdf

c:\Users\Chetan\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [53]:
input_df=pd.DataFrame([input_data])

In [54]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [55]:
input_df['Gender']=le.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [56]:
input_df=pd.concat([input_df.drop('Geography',axis=1),gdf],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [57]:
scaled_input=scaler.transform(input_df)

In [58]:
predict=model.predict(scaled_input)

1/1 [==============================] - 0s 402ms/step

In [60]:
p=predict[0][0]

In [61]:
if p>0.5:
    print('Customer is likely to churn')
else:
    print('Customer is not likely to churn')

Customer is not likely to churn

In [68]:
le.classes_

array(['Female', 'Male'], dtype=object)